<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="/style/styles.css"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Update Products</title>

    <% if(typeof user === 'undefined'){ %>
        <script>
            alert("Please login to access this page.");
            window.location.replace('/login');
        </script>
    
    else if(user.role !== 'admin'){ %>
        <script>
            alert("You must be an admin to access this page.");
            window.location.replace('/storefront'); // changed from index to storefront
        </script>
    <% } %>

    <style>
            .button-container{
                margin-top: 15%;
                text-align: left;
                width: 70%;
            }
            .button{
                padding: 10px;
                width: 150px;
                background-color: darkblue;
                text-align: center;
                margin-left: 5px;
            }
            .button:hover{
                -webkit-box-shadow: 5px 5px 5px 0px rgba(186,184,186,1);
                -moz-box-shadow: 5px 5px 5px 0px rgba(186,184,186,1);
                box-shadow: 5px 5px 5px 0px rgba(186,184,186,1);
            }
            </style>
  </head>
  <center>
    <body>
        <% include ./partials/banner %>
         <h1>Update the Product</h1>
         
         <form style="width: 70%;" name="addform" action="/updateProducts" method="post" onsubmit="return validateAddForm()" enctype="multipart/form-data">
            <input type="hidden" name="_id" value="<%= product._id %>">
            <div class="form-group row">
                <label for="category" class="col-sm-2 col-form-label">Category</label>
                <div class="col-sm-10">
                <input type="text" name="category" class="form-control" id="category" value="<%= product.category %>">
                </div>
            </div>
            <div class="form-group row">
                <label for="name" class="col-sm-2 col-form-label">Name</label>
                <div class="col-sm-10">
                <input type="text" name="name" class="form-control" id="name" value="<%= product.name %>">
                </div>
            </div>
            <div class="form-group row">
                <label for="price" class="col-sm-2 col-form-label">Price</label>
                <div class="col-sm-10">
                <input type="text" name="price" class="form-control" id="price" value="<%= product.price %>">
                </div>
            </div>

            <div class="form-group">                
                <!-- <label for="fileuploadbtn">Choose file</label> -->
                <img id="image" src='<%= product.imagepath %>' class="img-thumbnail product-thumbnail" height="100"><br>
                <input type="file" name="imageUpload" id="fileuploadbtn" value="<%= product.imagepath %>"
                    onchange="handleFileSelect(event)">
                
            </div>  
            <div class="form-group row" style="width: 100px">
                <button type="submit" class="btn btn-primary">Edit</button>
            </div>
        </form>
        <div class="button-conatiner">
                <span class="button">
                    <a href="/storefront">Store Front Page</a>
                </span>
                <span class="button">
                    <a href="/adminPage">Admin Home Page</a>
                </span>
        </div>
    </body>
</center>

  <script>
          function validateAddForm() {
            // return true; // CHANGE IT LATER
            const category = document.forms["addform"]["category"].value;
            if (category == "") {
                alert("Category cannot be empty");
                return false;
            }
            const name = document.forms["addform"]["name"].value;
            if (name == "") {
                alert("Name cannot be empty");
                return false;
            }
            const price = document.forms["addform"]["price"].value;
            if (price == "") {
                alert("Price cannot be empty");
                return false;
            }
            for (const char of price) {
                if (!(('0' <= char && char <= '9') || char === ".")) {
                    alert("Price must have digits only");
                    return false;
                }
            }
            return true;
        }
        

// Preview uploaded image before submitting
    function handleFileSelect(evt) {
        var files = evt.target.files; // FileList object

        // Get first element of the FileList and render image file as a thumbnail.
        f = files[0];

        // Only process image files.
        if (!f.type.match('image.*')) {
            return;
        }

        var reader = new FileReader();

        // Closure to capture the file information.
        reader.onload = (function(theFile) {
            return function(e) {
                // Render thumbnail.
                document.getElementById("image").src = e.target.result;
            };
        })(f);

        // Read in the image file as a data URL.
        reader.readAsDataURL(f);
    }           
    </script>
</html>